/* Noto Sans Thai UI Web fonts - PAKIN.ME */

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('subset-NotoSansThaiUI-Bold.woff2') format('woff2'), url('subset-NotoSansThaiUI-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Sans Thai UI';
    src: url('subset-NotoSansThaiUI-Regular.woff2') format('woff2'), url('subset-NotoSansThaiUI-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


/* Font face The Matter */


/* @font-face {
    font-family: 'The Matter';
    src: url('thematter-bold.eot');
    src: url('thematter-bold?#iefix') format('embedded-opentype'),
         url('thematter-bold.woff2') format('woff2'),
         url('thematter-bold.woff') format('woff'),
         url('thematter-bold.ttf')  format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'The Matter';
    src: url('thematter-extrabold.eot');
    src: url('thematter-extrabold?#iefix') format('embedded-opentype'),
         url('thematter-extrabold.woff2') format('woff2'),
         url('thematter-extrabold.woff') format('woff'),
         url('thematter-extrabold.ttf')  format('truetype');
    font-weight: 800;
    font-style: normal;
} */