@import url(webfonts/stylesheet.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 19px;
  line-height: 16px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
h3 {
  font-size: 14px;
}

.highlight {
  color: #F0324B;
}

.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.top-space {
  margin-top: 1.5em;
}

a:link,
a:visited,
a:active {
  color: #F0324B;
  text-decoration: none;
}
a:hover {
  color: #F0324B;
  text-decoration: underline;
}
#language a:link,
#language a:visited,
#language a:active,
#language a:hover {
  color: white;
}

.site-header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

#conclusion {
  width: 280px;
  margin: 20px auto;
  background: black;
  display: flex;
  flex-direction: column;
}
.sharebox {
  width: 100%;
}

#popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
}
#popup.shown {
  opacity: 1;
  pointer-events: auto;
}
#instruction {
  width: 300px;
  height: 360px;
  margin: -180px auto 0;
  position: relative;
  top: 50%;
  vertical-align: middle;
  background-color: black;
  color: white;
  padding: 25px;
  font-size: 14px;
  font-family: 'Noto Sans Thai UI';
  text-align: left;
}
#instruction h1 {
  font-size: 27px;
  font-family: 'Libre Baskerville';
  font-weight: bold;
}
#instruction h2 {
  font-size: 19px;
  font-family: 'The Matter';
  font-weight: normal;
}
#instruction .button {
  background-color: #F0324B;
  width: 250px;
  height: 48px;
  position: absolute;
  bottom: 25px;
  font-size: 16px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
}

#game {
  padding-top: 100px;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  text-align: center;
}

span, input, a, div, button {
  box-sizing: border-box;
}

.btn, .input {
  padding: 12px 15px;
  font-size: 0.65em;
  border-radius: 3px;
  /* font-family: 'Exo 2', sans-serif; */
  color: #666;
  font-weight: bold;
  display: inline-block;
}

.btn {
  background: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.flex {
  display: flex;
}

.flex-cell {
  flex: 1 1 auto;
}

.action-btn {
  margin-bottom: 10px;
  background-color: transparent;
  width: 100%;
  display: block;
  font-size: 1.2em;
  padding: 10px;
  border: 1px solid #eee;
  text-decoration: none;
  border-radius: 5px;
}

.action-btn:hover {
  background-color: #f4f4f4;
}

.action-btn .emoji {
  width: 20px;
  height: 20px;
}

input[type=radio] {
  margin: 0 5px 0 0;
}

input[type=number] {
  padding-right: 5px;
}

.input {
  border: 1px solid #e0e0e0;
}

.input-select {
  width: 100%;
  height: 40px;
  padding: 12px;
  font-size: 1em;
  margin-bottom: 10px;
  background: transparent;
}

.divider {
  align-self: center;
  flex: 0;
  padding: 0 10px;
  color: #999;
  font-size: 0.65em;
}

.prepend-input {
  padding: 7px 8px 6px 10px;
  margin: 5px 0;
  border-right: 1px solid #e0e0e0;
  line-height: 1;
  position: absolute;
}

.prepend-input + input {
  width: 100%;
  padding-left: 45px;
  margin-bottom: 10px;
}

code {
  display: none;
  margin-top: 10px;
  text-transform: none;
  background-color: #fff;
  padding: 2px 4px;
  max-width: 400px;
  text-align: left;
}

.cell .emoji {
  width: 100%;
}

.cell {
  /* disable hold to save image in iOS */
  -webkit-touch-callout: none;
  width: 20px;
  height: 28px;
  line-height: 28px;
  font-family: 'Elect Minesweeper';
  font-size: 28px;
  color: #0055E3;
  background: none;
  border: none;
  /* background-color: rgba(0, 0, 0, 0.4); */
  /* border: 2px solid white; */
  display: inline-block;
  position: relative;
  /* padding: 2px 3px; */
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
button,
button:hover,
button:focus,
button:active {
  background: none;
  border: none;
  padding: 0;
}

.unmasked {
  cursor: default;
  /* background-color: rgba(0, 0, 0, 0.12); */
}
.flagged {
  color: #F81745;
}

#map {
  white-space: nowrap;
}

.wrapper {
  padding: 10px 0;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  min-width: 250px;
}

.won .default-emoji,
.lost .default-emoji {
  display: none;
}

.won #map,
.lost #map {
  pointer-events: none;
}

.stat {
  width: 33.3%;
  font-family: 'Noto Sans Thai UI';
  font-size: 16px;
  /* padding: 8px 10px 5px; */
  text-align: center;
}

.settings {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 25px;
  padding: 2px 8px;
  border: 5px solid #fff;
  cursor: pointer;
  z-index: 1;
}

.settings .emoji {
  width: 15px;
  margin: 6px 0;
}

.settings-popup {
  margin-right: 10px;
  display: none;
  position: absolute;
}

.settings-popup button {
  width: 100%;
  margin: 0;
}

.settings-popup .flex {
  margin-bottom: 10px;
}

.show {
  display: block;
}

.settings-popup.show ~ * {
  visibility: hidden;
}

.feedback {
  font-size: 1px;
  width: 1px;
  height: 1;
  overflow: hidden;
  position: absolute;
  left: -1px;
  top: -1px;
}