@import url(webfonts/stylesheet.css);
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 19px;
  line-height: 16px;
}

h2 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
h3 {
  font-size: 14px;
}

.icon {
  font-family: "Elect Minesweeper";
}

.highlight {
  color: #F0324B;
}

.centered {
  text-align: center;
}

.right-aligned {
  text-align: right;
}

.top-space {
  margin-top: 1.5em;
}

a:link,
a:visited,
a:active {
  color: #F0324B;
  text-decoration: none;
}
a:hover {
  color: #F0324B;
  text-decoration: underline;
}
#language a:link,
#language a:visited,
#language a:active,
#language a:hover {
  color: white;
}

select {
  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none; /* remove default arrow */
  background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: 0;
  outline: none;
  font-size: 14px;
}
select::-ms-expand { 
  display: none; /* hide the default arrow in ie10 and ie11 */
}

.close {
  color: white;
  opacity: 1;
  text-shadow: none;
  font-weight: normal;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}
.close:hover {
  color: white;
}
.close::after {
  content: '';
  display: block;
  clear: both;
}
.close.black {
  color: black;
}
.close.black:hover {
  color: black;
}

/* .site-header {
  position: fixed;
  width: 100%;
  z-index: 2;
} */
.site-header {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 2;
  scroll-snap-align: start;
}

#conclusion {
  width: 280px;
  margin: 20px auto;
  background: black;
  display: flex;
  flex-direction: column;
}
.sharebox {
  width: 100%;
}

.popup {
  position: fixed;
  width: 100%;
  left: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
}
.popup.shown {
  opacity: 1;
  pointer-events: auto;
}
.popup .inner {
  width: 300px;
  position: relative;
  vertical-align: middle;
  font-size: 14px;
  font-family: 'Noto Sans Thai UI';
  background-color: white;
  color: black;
  border: 1px solid rgba(0,0,0,0.07);
  border-radius: 2px;
  box-shadow: 0 12px 24px 0 rgba(0,0,0,0.24);
}
.popup .inner p {
  /* padding-left: 24px;
  text-indent: -24px; */
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #747474;
}
.popup .inner p:last-of-type {
  border-bottom: none;
}
.popup .inner p .icon {
  font-size: 24px;
  line-height: 24px;
  width: 35px;
  display: block;
  float: left;
}
.popup .inner .button {
  width: 250px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
}
.popup .inner h1 {
  font-size: 27px;
  font-family: 'Libre Baskerville';
  font-weight: bold;
}
.popup .inner h2 {
  font-size: 20px;
  font-family: 'The Matter';
  font-weight: normal;
}

#instruction {
  height: 100%;
  top: 0;
}
#instruction .inner {
  height: 360px;
  margin: -180px auto 0;
  top: 50%;
  background-color: black;
  color: white;
  padding: 25px;
  text-align: left;
}
#instruction .inner .button {
  background-color: #F0324B;
  position: absolute;
  bottom: 25px;
}

#information {
  height: 100%;
  top: 0;
}
#information .inner {
  height: 360px;
  margin: -180px auto 0;
  top: 50%;
  background-color: black;
  color: white;
  padding: 25px;
  text-align: left;
}
#information .inner h2 {
  text-align: center;
}

#senate-popup {
  display: flex;
  justify-content: center;
}
#senate-popup .inner {
  height: 110px;
  margin: 0 auto;
  padding: 15px 10px;
  text-align: center;
}
#senate-popup .inner h2 {
  line-height: 40px;
  margin-bottom: 10px;
}
#senate-popup .inner .button {
  display: inline-block;
  width: 130px;
  height: 32px;
  line-height: 32px;
  bottom: 10px;
}
#senate-popup .inner .button.flagged {
  background-color: #F0324B;
  color: white;
}
#senate-popup .inner .button.flagged span.highlight {
  color: white;
}
.button.right-border {
  border-right: 1px solid rgba(0,0,0,0.07);
}
#senate-popup.shortened .inner {
  height: 70px;
}
#senate-popup.shortened .inner .button {
  display: none;
}

#feedback {
  height: 100%;
  top: 0;
}
#feedback .inner {
  height: 360px;
  margin: -180px auto 0;
  top: 50%;
  background-color: white;
  color: black;
  padding: 25px;
  text-align: center;
}
#feedback h1 {
  line-height: 24px;
}
#feedback h2 {
  color: #F0324B;
  font-family: 'Noto Sans Thai UI';
  font-size: 16px;
  line-height: 24px;
}
#feedback .column {
  display: inline-block;
  width: 120px;
  height: 32px;
  line-height: 32px;
  font-size: 16px;
}
#feedback .inner .buttons {
  position: absolute;
  bottom: 25px;
}
#feedback .inner .buttons a {
  text-decoration: none;
  color: black;
}
#feedback .inner .button.highlight {
  background-color: black;
  color: white;
}

#game {
  scroll-snap-align: start;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 15px;
  text-align: center;
  scroll-snap-type: y mandatory;
}

span, input, a, div, button {
  box-sizing: border-box;
}

.btn, .input {
  padding: 12px 15px;
  font-size: 0.65em;
  border-radius: 3px;
  color: #666;
  font-weight: bold;
  display: inline-block;
}

.btn {
  background: #f7f7f7;
  text-decoration: none;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.flex {
  display: flex;
}

.flex-cell {
  flex: 3 3;
}

.action-btn {
  margin-bottom: 10px;
  background-color: transparent;
  width: 100%;
  display: block;
  font-size: 1.2em;
  padding: 10px;
  border: 1px solid #eee;
  text-decoration: none;
  border-radius: 5px;
}

.action-btn:hover {
  background-color: #f4f4f4;
}

.action-btn .emoji {
  width: 20px;
  height: 20px;
}

input[type=radio] {
  margin: 0 5px 0 0;
}

input[type=number] {
  padding-right: 5px;
}

.input {
  border: 1px solid #e0e0e0;
}

.input-select {
  width: 100%;
  height: 40px;
  padding: 12px;
  font-size: 1em;
  margin-bottom: 10px;
  background: transparent;
}

.divider {
  align-self: center;
  flex: 0;
  padding: 0 10px;
  color: #999;
  font-size: 0.65em;
}

.prepend-input {
  padding: 7px 8px 6px 10px;
  margin: 5px 0;
  border-right: 1px solid #e0e0e0;
  line-height: 1;
  position: absolute;
}

.prepend-input + input {
  width: 100%;
  padding-left: 45px;
  margin-bottom: 10px;
}

code {
  display: none;
  margin-top: 10px;
  text-transform: none;
  background-color: #fff;
  padding: 2px 4px;
  max-width: 400px;
  text-align: left;
}

.cell .emoji {
  width: 100%;
}

.cell {
  /* disable hold to save image in iOS */
  -webkit-touch-callout: none;
  width: 20px;
  height: 28px;
  line-height: 28px;
  font-family: 'Elect Minesweeper';
  font-size: 28px;
  color: #8c8c8c;
  background: none;
  border: none;
  display: inline-block;
  position: relative;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}
button,
button:hover,
button:focus,
button:active {
  background: none;
  border: none;
  padding: 0;
}
button:hover {
  color: #F81745;
}

.unmasked {
  cursor: default;
  color: rgba(0, 0, 0, 0.20);
}
.flagged {
  color: #F81745;
}
.selected {
  color: #F81745;
}
.bombed {
  color: #8c8c8c;
}
.flagged.bombed {
  color: #F81745;
}
.mine_count_1 {
  color: #789AD3;
}
.mine_count_2 {
  color: #7DB678;
}
.mine_count_3 {
  color: #CF7983;
}
.mine_count_4 {
  color: #8A85D2;
}
.mine_count_5 {
  color: #C075A5;
}
.mine_count_6 {
  color: #6792BA;
}
.mine_count_7 {
  color: #D2926A;
}
.mine_count_8 {
  color: #9D7EC9;
}

#map {
  white-space: nowrap;
  text-align: left;
}

.wrapper {
  padding: 10px 0;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  display: inline-block;
  min-width: 250px;
}

.won .default-emoji,
.lost .default-emoji {
  display: none;
}

.won #map,
.lost #map {
  pointer-events: none;
}

.stat {
  width: 33.3%;
  font-family: 'Noto Sans Thai UI';
  font-size: 16px;
  /* padding: 8px 10px 5px; */
  text-align: center;
}
.stat:first-of-type {
  text-align: left;
}
.stat:last-of-type {
  text-align: right;
  flex: 1.5 1;
}
.stat:last-of-type .icon {
  cursor: pointer;
}
.stat select {
  width: 100%;
}

.settings {
  position: absolute;
  width: 40px;
  height: 40px;
  top: -20px;
  right: -20px;
  background-color: #f4f4f4;
  text-align: center;
  border-radius: 25px;
  padding: 2px 8px;
  border: 5px solid #fff;
  cursor: pointer;
  z-index: 1;
}

.settings .emoji {
  width: 15px;
  margin: 6px 0;
}

.settings-popup {
  margin-right: 10px;
  display: none;
  position: absolute;
}

.settings-popup button {
  width: 100%;
  margin: 0;
}

.settings-popup .flex {
  margin-bottom: 10px;
}

.show {
  display: block;
}

.settings-popup.show ~ * {
  visibility: hidden;
}

.feedback {
  font-size: 1px;
  width: 1px;
  height: 1;
  overflow: hidden;
  position: absolute;
  left: -1px;
  top: -1px;
}